body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}

h1{
    text-align: center;
}

h4{
    text-align: center;
    margin: 5%;
}

strong{
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"]{
    font-size: 20px;
    width: 25%;
    padding-left: 5px;
    height: 30px;
    border: 2px solid black;
    margin: 15px;
    border-radius: 5px;
}

.button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 10px;
    margin-bottom:15px;
}

button{
    font-size: 20px;
    margin: 9px;
    background-color: rgb(213, 213, 217);
    border-radius: 10px;
    width: 90%;
    height: 90%;
    cursor: pointer;
}

button:active{
    border: 3px solid black;
}